/* Base styles and content styles */

@import 'variables.css';

:root {
    /* Browser default font-size is 16px, this way 1 rem = 10px */
    font-size: 62.5%;
}

html {
    font-family: "UD デジタル 教科書体 N-R", "BIZ UDゴシック Regular", "Hiragino Kaku Gothic ProN", "ascii";
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
}

body {
    margin: 0;
    font-size: 1.7rem;
    overflow-x: hidden;
}

code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    font-size: 0.875em; /* please adjust the ace font size accordingly in editor.js */
}

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

.highlight { background-color: #ffffc5; }
.highlight.alert { background-color: #f9dede;}
i.alert { color: red; }
.good {color:  #4169e1;}
.left { float: left; }
.right { float: right; }
.boring { opacity: 0.6; }
.hide-boring .boring { display: none; }
.hidden { display: none; }


p.note {
    color: #000094;
}

h2, h3 { margin-top: 2.5em; }
h4, h5 { margin-top: 2em; }

.header + .header h3,
.header + .header h4,
.header + .header h5 {
    margin-top: 1em;
}

h1 a.header:target::before,
h2 a.header:target::before,
h3 a.header:target::before,
h4 a.header:target::before {
    display: inline-block;
    content: "»";
    margin-left: -30px;
    width: 30px;
}

h1 a.header:target,
h2 a.header:target,
h3 a.header:target,
h4 a.header:target {
    scroll-margin-top: calc(var(--menu-bar-height) + 0.5em);
}

.page {
    outline: 0;
    padding: 0 var(--page-padding);
    margin-top: calc(0px - var(--menu-bar-height)); /* Compensate for the #menu-bar-hover-placeholder */
}
.page-wrapper {
    box-sizing: border-box;
}
.js:not(.sidebar-resizing) .page-wrapper {
    transition: margin-left 0.3s ease, transform 0.3s ease; /* Animation: slide away */
}

.content {
    overflow-y: auto;
    padding: 0 15px;
    padding-bottom: 50px;
}
.content main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}
.content p {
    line-height: 2em;
    margin-block-end: 1.5em;
}
.content blockquote p {
    line-height: 2em;
    margin-block-end: 1em;
}

.content ol { line-height: 2em; }
.content ul { line-height: 2em; }
.content a { text-decoration: none; }
.content a:hover { text-decoration: underline; }
.content img { max-width: 100%; }
.content .header:link,
.content .header:visited {
    color: var(--fg);
}
.content .header:link,
.content .header:visited:hover {
    text-decoration: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}
table td {
    padding: 3px 20px;
    border: 1px var(--table-border-color) solid;
}
table thead {
    background: var(--table-header-bg);
}
table thead td {
    font-weight: 700;
    border: none;
}
table thead th {
    padding: 3px 20px;
}
table thead tr {
    border: 1px var(--table-header-bg) solid;
}
/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
    background: var(--table-alternate-bg);
}


blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-top: .1em solid var(--quote-border);
    border-bottom: .1em solid var(--quote-border);
}


:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}
.footnote-definition {
    font-size: 0.9em;
    margin: 0.5em 0;
}
.footnote-definition p {
    display: inline;
}

.tooltiptext {
    position: absolute;
    visibility: hidden;
    color: #fff;
    background-color: #333;
    transform: translateX(-50%); /* Center by moving tooltip 50% of its width left */
    left: -8px; /* Half of the width of the icon */
    top: -35px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    margin: 5px;
    z-index: 1000;
}
.tooltipped .tooltiptext {
    visibility: visible;
}

.chapter li.part-title {
    color: var(--sidebar-fg);
    margin: 5px 0px;
    font-weight: bold;
}

/* custom */
h1 { 
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
    text-decoration: underline;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9em;
}
div.back-to-main-site {
    background-color: #fff;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .1);
}
div.back-to-main-site a {
    display: block;
    padding: 10px 0 8px 8px;
    text-decoration: none;
    width: 100%;
}

div.resp-table {
    overflow-x: auto;
}
div.resp-table th,
div.resp-table td {
    border: 1px var(--table-border-color) solid;
    white-space: nowrap;
    padding: 10px;
}
div.resp-table td {
    text-align: center;
}
div.resp-table thead th {
    text-align: center;
}
div.resp-table tbody th {
    text-align: left;
}

pre.tree {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .1);
    font-family: inherit;
    padding: 20px;
}

table th,
table td {
    padding: 10px;
    line-height: 2em;
}

fieldset.point,
fieldset.nittei,
fieldset.sanpi,
fieldset.summary {
    margin-top:40px;
}
fieldset.sanpi {
    border-color: #000094;
    box-shadow: 4px 4px 4px 0 rgba(1, 1, 1, 0.4);
}
fieldset.summary {
    border-color: #27407a;
    box-shadow: 4px 4px 4px 0 rgba(1, 1, 1, 0.4);
}

.point h2,
.sanpi h2,
.summary h2{
    color: #000094;
    margin: 0;
    padding: 0;
}
.sanpi.NG {
}
.sanpi.OK {

}
.point p,
.sanpi p,
.summary p {
    color: #000094;
    padding: 0 20px;
}

.nittei h2 {
    margin: 0;
    padding: 0;
}

.nittei li ol {
    counter-reset: list;
    padding-inline-start: 0;
}
.nittei li ol > li {
    list-style: none;
}
.nittei li ol > li:before {
    content: "(" counter(list) ") ";
    counter-increment: list;
}
.warn {
    color:red;
    line-height: 1.8em;
    border: 3px solid red;
    text-align: center;
    padding: 0.5em;
}

li.chapter-item strong {
    display: none;
}
ol.section li.chapter-item {
    list-style: none;
}
ol.section li.chapter-item:before {
    content:"-";
    padding-right:5px;
}

img {
    border: 1px solid #333;
    box-shadow: 4px 4px 4px 0 rgba(1, 1, 1, 0.4);
}

img.noshadow {
    border: unset;
    box-shadow: unset;
}

.qanda i {
    font-size:2.5em;
}
.qanda i.hitori {
    font-size:2.5em;
    color: #3f51b5;
}
i.hitori {
    color: #3f51b5;
}
i.hitori.yasutake {
    color: #ff9800;
}

i.si-toben {
    font-size:2em;
    color: #3f51b5;
}

table.qanda {
    margin: unset;
}

table.qanda td {
    border: none;
}

table.qanda td:nth-child(1) {
    padding: 0 10px 0 5px;
}

div.q-mark-notes p {
    text-align: right;
}

.yasutake-note {
    color: #ff9800;
}

img.yasutake-face {
    width: 38px;
}

table.additional {
    margin:0;
    font-size:0.8em;
}

table.additional thead {
    color: white;
    background-color: #9cbaff;
}

table.gridjs-table {
    border: '3px solid #ccc';
    table-layout: auto;
}

table.gridjs-table th,
table.gridjs-table td
{
    color: #333;
    padding:2px;
    line-height:inherit;
}

table.gridjs-table th {
    background-color: #f1f6f9;
    text-align: center;
}
table.gridjs-table th:hover {
    background-color: #c8e4f5;

}

table.gridjs-table tr:nth-child(odd) td {
	background: #f3f3f3;
}

table.gridjs-table td:nth-of-type(1),
table.gridjs-table td:nth-of-type(2),
table.gridjs-table td:nth-of-type(3),
table.gridjs-table td:nth-of-type(4),
table.gridjs-table th:nth-of-type(1),
table.gridjs-table th:nth-of-type(2),
table.gridjs-table th:nth-of-type(3),
table.gridjs-table th:nth-of-type(4)
{
    font-size: 1.2rem;
}

.gridjs-wrapper,
.gridjs-footer {
    border-radius:0;
}

button.gridjs-sort {
    background-color: #0000;
    border-width:0;
}

#saisyutu-detail table.gridjs-table td:nth-of-type(7) {
    text-align: right;
}

input.gridjs-input {
    border-radius: 0;
}

#gridjs-kan-select {
    padding: 10px 14px;
    font-size:1.4rem;
    font-family: inherit;
}

table.simple {
    border: 1px solid rgb(189, 189, 189);
    padding: 0;
    margin: 0;
}

table.simple th,
table.simple td {
    border: 1px solid rgb(189, 189, 189);
    padding: 0.8rem;
    line-height: 2rem;
}

div.redbox {
    border: 1px dashed red;
    border-radius: 1rem;
    margin: 0;
}

div.redbox:before {
    content: "🤔気になるコト（要確認事項）";
    display: block;
    text-align: right;
}

div.redbox ul {
    margin: 0.2em 0;
}